{% extends 'CommunityFM/fm_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
    <section>
        <div class="flex-container radio-form" id="radio-form-container">
            <form method="post" id="radio-form">
                {% csrf_token %}
                <table>
                    {{ form.as_table }}
                </table>
                {{ form.non_field_errors }}
                <button class="btn-radio" type="submit">Add to Collection</button>

            </form>
        </div>
    </section>
{% endblock %}