{% extends 'CommunityFM/fm_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>
    <div class="radio_center">
    <form method="POST" action=".">
        {% csrf_token %}
        <h2><b>Confirm Delete</b></h2>
        <p>Are you sure you would like to delete "{{ station.station_name }}" from the database?</p>

        {{ station.as_p }}
        <div class="btn-container radio_center">
            <button class="btn-radio" type="submit">Yes, delete it!</button>
            <button class="btn-radio" type="button" onclick=" location.href='{% url 'details' station.pk %}'">Cancel</button>
        </div>
    </form>
    </div>
</section>
{% endblock %}