{% extends 'CommunityFM/fm_base.html' %}
{% load staticfiles %}
{% block templatecontent %}
<section>

       <div class="radio-form-container radio-index stationDetails">
           <h3 class="radio_center">Update Station Details</h3>
            <form method="post" id="radio-form">
                {% csrf_token %}
                <table id="edit-table">
                {% for field in form %}
                    <tr>
                        <th>{{ field.label }}</th> <td>{{ field }}</td>
                    </tr>
                {% endfor %}
                </table>

                {{ form.non_field_errors }}
                <div class="btn-container radio_center">
                    <button class="btn-radio" type="submit">Update</button>

                    <button class="btn-radio btn-center" type="button" onclick="location.href='{% url 'index' %}'">Cancel</button>
                </div>
            </form>
        </div>
        <br/>
</section>
{% endblock %}