{% extends 'CommunityFM/fm_base.html' %}
{% load staticfiles %}
{% block templatecontent %}

    <section>
        <span class="radio_center"><!--<strong>Find down-to-earth radio where-ever you go.</strong><br /> -->
        You want radio with character, whether you're near or far from home. CommunityFM is here to help. Keep track of your
            favorite stations with our database, find new stations with our API, or take a look at what's playing on our
            local Portland station, XRay.fm.
        </span>
        <br/>
    </section>
{% endblock %}